* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #7264d6;
	--sub-color: #696d76;
	--dark-color: #212832;
}

html {
	font-size: 62.5%;
	font-family: "Open Sans", Inter, system-ui, sans-serif;
}

body {
	font-size: 1.6rem;
}

button,
textarea,
select,
input {
	font-family: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
}

/* Common */
.container {
	width: 1170px;
	max-width: (100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.logo {
	color: #000;
	display: flex;
	align-items: center;
	column-gap: 6px;
	font-weight: 600;
}

.btn {
	--height: 58px;

	min-width: 149px;
	height: var(--height);
	line-height: var(--height);
	color: #fff;
	font-weight: 600;
	text-align: center;
	border-radius: 8px;
	background: #212832;
	display: inline-block;
}

.btn:hover {
	opacity: 0.9;
	transition: opacity ease 0.3s;
}

.highlight {
	color: var(--primary-color);
}

.section-desc {
	color: var(--sub-color);
	line-height: 1.75;
}

/* Header */
.header {
	padding-top: 42px;
}

.header.fixed {
	position: sticky;
	top: -34px;
}

.header__inner {
	display: flex;
	align-items: center;
	padding-bottom: 8px;
}

.navbar {
	margin-left: 47px;
}

.navbar__list {
	display: flex;
}

.navbar-item__link {
	color: var(--sub-color);
	line-height: 1.75;
	padding: 8px 23px;
}

.navbar-item__link:hover {
	color: var(--dark-color);
	text-decoration: underline;
	text-shadow: 0 0 1px rgba(0, 0, 0, 1);
	transition: color ease 0.2s;
}

.action {
	margin-left: auto;
}

.action .login {
	color: var(--dark-color);
	font-weight: 600;
}

.action .signup {
	margin-left: 28px;
	--height: 52px;
	min-width: 113px;
}
