* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #7264d6;
	--sub-color: #696d76;
	--dark-color: #212832;
}

html {
	font-size: 62.5%;
	font-family: "Open Sans", Inter, system-ui, sans-serif;
}

body {
	font-size: 1.6rem;
}

button,
textarea,
select,
input {
	font-family: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
}

/* Common */
main,
.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.logo {
	color: #000;
	display: flex;
	align-items: center;
	column-gap: 6px;
	font-weight: 600;
}

.btn {
	--height: 58px;

	min-width: 149px;
	height: var(--height);
	line-height: var(--height);
	color: #fff;
	font-weight: 600;
	text-align: center;
	border-radius: 8px;
	background: var(--dark-color);
	display: inline-block;
}

.btn:hover {
	opacity: 0.9;
	transition: opacity ease 0.3s;
}

.toast {
	width: 226px;
	display: flex;
	align-items: center;
	padding: 16px;
	border-radius: 8px;
	background: #fffdfa;
	box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.highlight {
	color: var(--primary-color);
}

.section-heading {
	margin-top: 12px;
	color: var(--dark-color);
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.25;
}

.section-desc {
	margin-top: 20px;
	color: var(--sub-color);
	line-height: 1.75;
}

.section-quote {
	color: var(--sub-color);
	line-height: 1.75;
}

.section-quote::before {
	position: relative;
	left: 0;
	top: -4px;
	content: "";
	width: 18px;
	height: 2px;
	margin-right: 12px;
	background: var(--sub-color);
	display: inline-block;
}

/* Card */

.card {
	position: absolute;
	top: 52px;
	left: 22px;
	font-size: 1rem;
	min-width: 25em;
	height: auto;
	padding: 1.6em;
	border-radius: 2em;
	background: linear-gradient(76deg, #9487ea 8%, #6657d2 90%);
	overflow: hidden;
	user-select: none;
}

.card__icon {
	position: absolute;
	z-index: -1;
}

.card .card__icon:nth-of-type(1) {
	top: 0;
	left: 0;
	width: 10em;
}

.card .card__icon:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.card__main {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.4em;
}

.card__main::before,
.card__main::after {
	content: "";
	position: absolute;
	right: 0.6em;
	display: inline-block;
	width: 2.4em;
	height: 2.4em;
	border-radius: 50%;
}

.card__main::before {
	background: #fe6565;
	right: 2em;
}

.card__main::after {
	background: #feef65;
	opacity: 0.8;
}

.card__money {
	margin-top: 0.8em;
	color: #fff;
	font-size: 2.2em;
	font-weight: 700;
}

.card__row {
	color: #fff;
	display: flex;
	margin-top: 3.2em;
	column-gap: 1.2em;
}

.card__text {
	font-size: 1em;
}

.card__row-bottom {
	margin-top: 1.2em;
	column-gap: 3.6em;
}

.card__text-bold {
	font-size: 1.2em;
	font-weight: 600;
}

/* Header */
.header {
	padding-top: 42px;
}

/* .header.fixed {
	position: sticky;
	top: -34px;
} */

.header__inner {
	display: flex;
	align-items: center;
	padding-bottom: 8px;
}

.navbar {
	margin-left: 47px;
}

.navbar__list {
	display: flex;
}

.navbar-item__link {
	color: var(--sub-color);
	line-height: 1.75;
	padding: 8px 23px;
}

.action .login:hover,
.navbar-item__link:hover {
	color: var(--dark-color);
	text-decoration: underline;
	text-shadow: 0 0 1px rgba(0, 0, 0, 1);
	transition: color ease 0.3s;
}

.action {
	margin-left: auto;
}

.action .login {
	color: var(--dark-color);
	font-weight: 600;
}

.action .signup {
	margin-left: 28px;
	--height: 52px;
	min-width: 113px;
}

/* Hero */
.hero {
	margin-top: 76px;
	display: flex;
	column-gap: 160px;
}

/* Hero Content */
.hero__content {
	width: 46%;
	margin-top: 47px;
}

.hero__heading {
	margin-top: 12px;
	color: var(--dark-color);
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.16;
}

.hero__desc {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 1.66;
}

.subscribe-form {
	margin-top: 40px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 74px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.subscribe-form__input,
.subscribe-form__submit {
	outline: none;
	border: none;
}

.subscribe-form__input {
	color: var(--sub-color);
	width: inherit;
	padding: 24px;
}

.subscribe-form__submit {
	cursor: pointer;
	margin-right: 8px;
	background: var(--primary-color);
}

.hero__remark {
	margin-top: 20px;
	color: var(--sub-color);
	font-size: 1.4rem;
	font-weight: 600;
}

/* Hero Media */
.hero__media {
	position: relative;
}

/* Hero List */
.hero__list {
	position: absolute;
	top: 226px;
	left: 28px;
	width: 80%;
	user-select: none;
}

.hero__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__transection {
	color: #31456a;
	font-weight: 600;
}

.hero-item {
	display: flex;
	align-items: center;
}

.hero-item + .hero-item {
	margin-top: 28px;
}

.hero-item:nth-child(2) {
	margin-top: 28px;
}

.product__toast-wrap,
.product__send-wrap,
.hero-item__icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
}

.hero-item:nth-of-type(2) .hero-item__icon-wrap {
	background: #4ab5e31a;
}

.product__send-wrap,
.hero-item:nth-of-type(3) .hero-item__icon-wrap {
	background: #da64641a;
}

.hero-item:nth-of-type(4) .hero-item__icon-wrap {
	background: #439f901a;
}

.hero-item:nth-of-type(5) .hero-item__icon-wrap {
	background: #7264d61a;
}

.product-toast__info,
.hero-item__info {
	margin-left: 14px;
}

.product-toast__title,
.hero-item__title {
	color: var(--dark-color);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
}

.product-toast__desc,
.hero-item__desc {
	margin-top: 6px;
	color: var(--sub-color);
	font-size: 1rem;
	line-height: 1;
}

.product-toast__data,
.hero-item__data {
	margin-left: auto;
	text-align: right;
	align-self: flex-start;
}

.product-toast__cash,
.hero-item__cash {
	margin-top: 5px;
	color: var(--dark-color);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
}

.product-toast__date,
.hero-item__date {
	margin-top: 6px;
	color: var(--sub-color);
	font-size: 1rem;
	line-height: 1;
}

.hero__deposit,
.hero__interest,
.hero__secure {
	position: absolute;
}

/* Deposit */
.hero__deposit {
	top: 113px;
	left: -100px;
	display: flex;
	align-items: center;
	width: 174px;
	padding: 14px 10px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__deposit-text {
	margin-left: 8px;
	color: #31456a;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
}

.hero__deposit-cost {
	margin-left: auto;
	color: #4ab5e3;
	font-size: 1.4rem;
	line-height: 1;
}

/* Interest */
.hero__interest {
	top: 127px;
	right: -174px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 4px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #da6464;
}

.hero__interest-percent {
	font-size: 4.4rem;
	font-weight: 600;
}

/* Secure */
.hero__secure {
	right: -74px;
	bottom: 61px;
	display: flex;
	align-items: center;
	column-gap: 12px;
	color: #fff;
	width: 124px;
	padding: 20px 14px;
	border-radius: 10px;
	background: #439f90;
}

.hero__secure-cost {
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
}

.hero__secure-desc {
	margin-top: 4px;
	font-size: 0.8rem;
	line-height: 1;
}

/* Work */
.work {
	padding: 80px 0;
	margin-top: 80px;
}

.work__inner {
	display: flex;
	align-items: center;
}

.work__media {
	width: 40%;
	position: relative;
	height: 550px;
}

.work__img-bg {
	position: relative;
}

.work__img-bg::after {
	content: url(../img/work-bg.png);
	bottom: -2px;
	left: -14px;
	position: absolute;
}

.work__img {
	position: relative;
	z-index: 1;
	width: 100%;
	display: block;
}

.work__img-wrap {
	position: absolute;
	right: 55px;
	top: 76px;
	width: 66px;
	height: 66px;
	padding: 8px;
	display: inline-block;
	border: 14px solid var(--primary-color);
	border-radius: 8px;
}

.work__img-wrap::after {
	content: "";
	width: 44px;
	height: 44px;
	left: -2px;
	top: -2px;
	position: absolute;
	background: #fff;
	border-radius: 6px;
}

.work__img-wrap .logo {
	position: relative;
	z-index: 1;
}

.work__congrat {
	position: absolute;
	column-gap: 10px;
	bottom: 30px;
	right: -107px;
	z-index: 1;
}

.work__congrat-wrap {
	width: 40px;
	height: 40px;
	background: #4ab5e3;
	border-radius: 4px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.work__congrat-wrap::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.work__congrat-checklist {
	position: relative;
	z-index: 1;
}

.work__congrat-title {
	color: var(--dark-color);
	font-family: Inter, sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
}

.work__congrat-desc {
	margin-top: 5px;
	color: var(--sub-color);
	font-family: Inter, sans-serif;
	font-size: 1.2rem;
}

/* Work Content */
.work__content {
	width: 41%;
	margin-left: auto;
}

.work__list {
	margin-top: 70px;
}

.work-item__title {
	color: var(--dark-color);
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1.45;
}

.work-item + .work-item {
	margin-top: 30px;
}

.work-item__desc {
	margin-top: 16px;
	color: var(--sub-color);
	line-height: 1.75;
}

/* Product */
.product {
	padding: 80px 0;
	margin-top: 108px;
}

.product__inner {
	display: flex;
	column-gap: 130px;
}

.product__info {
	width: 39%;
}

.product__desc {
	font-size: 1.8rem;
}

.feature-list {
	margin-top: 28px;
}

.feature-item {
	color: var(--dark-color);
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66;
	margin-bottom: 18px;
}

.feature-item::before {
	margin-right: 12px;
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background: var(--primary-color);
	border-radius: 50%;
}

.product__btn {
	margin-top: 20px;
}

.product__media {
	position: relative;
	width: 48%;
}

.product__card {
	padding-top: 40px;
	margin-top: 58px;
	font-size: 2rem;
}

.product__card .card__icon:nth-of-type(1) {
	width: 10em;
}

.product__card .card__icon:nth-of-type(2) {
	width: 13em;
}

.product__send {
	position: absolute;
	top: 58px;
	right: -88px;
	min-width: 276px;
	background: #fff;
}

.product__received {
	position: absolute;
	right: -64px;
	bottom: 24px;
	width: 120px;
	flex-direction: column;
	align-items: flex-start;
	background: #439f90;
}

.product__toast-wrap {
	width: 30px;
	height: 30px;
	background: #fff;
}

.product-toast__received-info {
	margin: 14px 0 0 0;
}

.product-toast__received-title {
	color: #fff;
	font-size: 1.2rem;
}

.product-toast__received-data {
	margin: 6px 0 0 0;
}

.product-toast__received-cash {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
}

/* Feature */
.feature {
	padding: 80px 0;
	margin-top: 130px;
}

.feature__inner {
	display: flex;
	column-gap: 156px;
}

.feature__media {
	width: 48%;
	position: relative;
}

.feature__img-wrap {
	width: 413px;
	position: relative;
}

.feature__img-wrap::after {
	content: url(../img/feature-bg.png);
	position: absolute;
	bottom: 0;
	left: 0;
}

.feature__img {
	position: inherit;
	left: 29px;
	z-index: 1;
	width: 100%;
}

.feature__payment {
	position: absolute;
	bottom: 57px;
	right: 0;
	width: 281px;
	padding: 28px;
	background: #fff;
	filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
	border-radius: 16px;
	z-index: 1;
}

.feature__payment-title {
	color: var(--dark-color);
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66;
}

.feature__payment-list {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 18px;
}

.feature__payment-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 63px;
	height: 48px;
	border-radius: 8px;
	background: #f2f2fa;
}

.feature__payment-item:last-child {
	background: #f9ea63;
}

.feature__label {
	position: absolute;
	right: -32px;
	bottom: 222px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: var(--primary-color);
	z-index: 1;
}

.feature__content {
	width: 41%;
	margin-top: 50px;
}

.feature__desc {
	font-size: 1.8rem;
}

.feature__btn {
	margin-top: 20px;
}

/* Client */
.client {
	padding: 80px 0;
}

.client__header {
	width: 435px;
	margin: 0 auto;
	text-align: center;
}

.client__feedback-list {
	margin-top: 70px;
	display: flex;
	overflow: hidden;
	column-gap: 30px;
}

.client-item {
	width: 48%;
	text-align: center;
	flex-shrink: 0;
}

.client-item__quote {
	position: relative;
	font-size: 2.2rem;
	font-style: italic;
	z-index: 1;
	padding: 42px 28px;
	border-radius: 8px;
	border: 1px solid #dfe2e8;
	margin-bottom: 98px;
	background: #fff;
}

.client-item__quote:hover {
	filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client-item__quote::after {
	content: "";
	position: absolute;
	bottom: -45px;
	left: 50%;
	width: 90px;
	height: 90px;
	background: #fff;
	border: 1px solid #dfe2e8;
	border-color: transparent #dfe2e8 #dfe2e8 transparent;
	transform: translateX(-50%) rotateX(0deg) rotateY(45deg) rotateZ(45deg);
	z-index: -1;
}

.client-item__img {
	width: 104px;
	height: 104px;
	object-fit: cover;
	border-radius: 50%;
}

.client-item__heading {
	margin-top: 20px;
	color: #070052;
	font-size: 2.6rem;
	font-weight: 600;
	line-height: 1.38;
}

.client-item__desc {
	margin-top: 2px;
	font-size: 1.8rem;
}

.client__dots {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
}

.client__dot {
	margin-top: 38px;
	width: 22px;
	height: 6px;
	border: 2px solid #9b9fab;
	border-radius: 2px;
	display: inline-block;
}
.client__dot--active,
.client__dot:hover {
	background: var(--primary-color);
	border-color: var(--primary-color);
	cursor: pointer;
}

.client__dots:hover .client__dot--active {
	background: transparent;
}

/* Blog */
.blog {
	padding: 80px 0;
}

.header__blog {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__blog-left {
	width: 39%;
}

.blog__list {
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.blog-item {
	width: 570px;
	display: flex;
	align-items: center;
	padding: 28px;
	column-gap: 22px;
	border-radius: 12px;
	border: 1px solid #dfe2e8;
	background: #fff;
}

.blog-item:hover {
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__img {
	width: 160px;
	height: 160px;
	border-radius: 12px;
	object-fit: cover;
}

.blog-item__info {
	flex-shrink: 0;
	width: 100%;
}

.blog-item__date {
	color: var(--sub-color);
	font-size: 1.4rem;
	line-height: 1.71;
}

.blog-item__title {
	width: 332px;
	color: var(--dark-color);
	margin: 10px 0 20px;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66;
}

.blog-item__link {
	color: var(--primary-color);
	line-height: 1.62;
}

/* Application */
.app {
	position: relative;
	margin: 80px 0;
	padding: 100px 368px;
	background: var(--primary-color);
	border-radius: 24px;
}

.app__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.app__header {
	width: 435px;
}

.app__quote,
.app__heading,
.app__desc {
	color: #fff;
}

.app__quote::before {
	background: #fff;
}

.app__download {
	margin-top: 38px;
	display: flex;
	column-gap: 16px;
}

.app__download-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 182px;
	height: 64px;
	background: #fff;
	border-radius: 8px;
}

.app__icon {
	position: absolute;
}

.app__icon--left {
	top: 48px;
	left: 112px;
}

.app__icon--right {
	top: 48px;
	right: 112px;
}

.app__icon--botleft {
	left: 166px;
	bottom: 49px;
}

.app__icon--botright {
	right: 166px;
	bottom: 49px;
}
